
.main_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:50% 50%;
}

.contraste{
    position: absolute;
    background-color: var(--secondary);
    opacity: 0.15;
    height: 100%;
    width: 100%;
}

.container_index{
    position: relative;
    height: 100%;
}

.container_index .row {
    height: 100%;
}

.container_index .row article {
    text-align: center;
}

li{
    color: var(--text);
}

.card{
    margin:10px;
    border: none;
  }

.btn{
    background-color: var(--secondary);
    border-color: var(--secondary);
}

footer a:hover{
    color: white;
  }

  .accueil .swiper-slide {
    text-align: center;
    font-size: 18px;
  }

.ratio{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.swiper-slide img{
    width: 100%;
    height: 75%;
    object-fit: fill;
}

.swiper-container{
    width: 100%;
    height: 75%;
}

.swiper-pagination-bullet{
    background: var(--secondary);
}

.swiper-pagination-bullet-active{
    background: var(--primary);
}

.credits h5:hover{
    color: white;
    cursor: pointer;
}

.credits .btn{
    background: none;
    border: none;
    color: black;
    outline-color: none;
}

.modal-body{
    margin-left: auto;
    margin-right: auto;
}