.main_img_discography{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:50% 50%;
}

.contrasteDiscography{
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 1%, rgba(1, 78, 134, 0.5));
    object-fit: cover;
    background-color: rgba(255,255,255,0);
    height: 100%;
    width: 100%;
}

.containerDiscography{
    position: absolute;
    height: 100vh;
    width: 100%;
}

.containerDiscography .row {
    height: 100%;
}

.containerDiscography .row article {
    text-align: left;
}

.containerDiscographyAlbums{
    position: relative;
    height: 100vh;
    width: 100%;
}

.space{
    position: relative;
    top: 60vh;
    margin: 5vw 5vw 5vw 5vw;
}

.splitSpace{
    padding:20px 0 20px 0;
  }

.albumList{
    font-size: 19px;
}

.heros .swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #17161d;
    z-index: -1;
  }
  
.heros .swiper-slide{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
}

.imgAlbums{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
}

footer a:hover{
    color: white;
  }