
@import 'accueil.css';
@import 'discographie.css';


@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1{
font-size: 26px;
font-family: 'Bowlby One SC', sans-serif;
color: var(--primary);
}

h2{
 font-size: 22px;
}

h3{
 font-size: 16px;
 color: var(--text);
}


:root{
    --bg:#dad7cd;
    --text:white;
    --primary:#FFA200;
    --primary-alt:#FFD000;
    --secondary:#014F86;
    --secondary-alt:#61A5C2;
    --title:'Bowlby One SC', sans-serif;
    --regular:'Alata', sans-serif;
}



