
@import 'accueil.css';
@import 'discographie.css';


@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

:root{
    --bg:#dad7cd;
    --text:white;
    --primary:#ffa200;
    --primary-alt:#FFD000;
    --secondary:#014e86;
    --secondary-alt:#61A5C2;
    --title:'Bowlby One SC', sans-serif;
    --regular:'Alata', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    padding: 0; margin: 0;
}

html{
    scroll-behavior: smooth;
}

h1{
font-size: 32px;
font-family: 'Bowlby One SC', sans-serif;
color: var(--primary);
}

h2{
 font-size: 22px;
}

h3{
 font-size: 16px;
 color: var(--text);
}

.heros{
    position: relative;
    width: 100vw; height: 100vw;
}

picture {
    position: absolute;
    width: 100%; height: 100%;
}

@media screen and (orientation: landscape) {
    .heros {
      height: 56.25%;
    }
  }




